<!DOCTYPE html>
<html>
  <% include head %>
  <body>
    <% include nav %>
    <div class='container'>
      <h1>Dashboard</h1>

      <div class="form-inline form-group well">
        <div class="btn-group">
          <button id="type-feeling-button" type="button" class="btn btn-default">Feeling</button>
          <button id="type-hunger-button" type="button" class="btn btn-default">Hunger</button>
          <button id="type-sleepiness-button" type="button" class="btn btn-default">Sleepiness</button>
        </div>
        <div class="date-form-container">
          <i class="glyphicon glyphicon-calendar"></i>
          <div class="form-group">
            <label for="start-date">From</label>
            <input id="start-date-form" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="end-date">To</label>
            <input id="end-date-form" type="text" class="form-control" />
          </div>
        </div>
      </div>
      <div class="btn-group">
        <button id="time-span-button" type="button" class="btn btn-primary">Time</button>
        <button id="age-span-button" type="button" class="btn btn-primary">Age</button>
      </div>
      <div id='chart-container'>
      </div>
      <div class="row">
        <div class="col-xs-3"><small>Respondent Count</small><p id="respondent-total-number">0</p></div>
        <div class="col-xs-3"><small>Average</small><p id="respondent-average">0</p></div>
        <div class="col-xs-3"><small>Male Ratio</small><p id="respondent-male-ratio">0</p></div>
        <div class="col-xs-3"><small>Female Ratio</small><p id="respondent-female-ratio">0</p></div>
      </div>
    </div>
    <% include common_js %>
    <script type="text/javascript" src="./javascripts/dashboard.js"></script>

    <script type="text/javascript" src="https://code.highcharts.com/highcharts.src.js"></script>
  </body>
</html>
