<!DOCTYPE html>
<html>
  <% include head %>
  <body>
    <% include nav %>
    <div class='container'>
      <table class='table table-striped table-bordered table-hover'>
        <thead>
          <tr>
            <th>Time</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Feeling</th>
            <th>Hunger</th>
            <th>Sleepiness</th>
          </tr>
        </thead>
        <tbody id="list-container">
        <tbody>
      </table>
    </div>
    <% include common_js %>
    <script type="text/javascript" src="./javascripts/list.js"></script>
  </body>
</html>
