<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Simple-Statistics</a>
    </div>
    <ul class="nav navbar-nav">
      <% if (title == 'Dashboard') { %>
        <li class="active"><a href="#"><%= title %><span class="sr-only">(current)</span></a></li>
      <% } else { %>
        <li><a href="./dashboard">Dashboard<span class="sr-only">(dashboard)</span></a></li>
      <% } %>

      <% if (title == 'Register') { %>
        <li class="active"><a href="#"><%= title %><span class="sr-only">(current)</span></a></li>
      <% } else { %>
        <li><a href="./register">Register<span class="sr-only">(register)</span></a></li>
      <% } %>

      <% if (title == 'List') { %>
        <li class="active"><a href="#"><%= title %><span class="sr-only">(current)</span></a></li>
      <% } else { %>
        <li><a href="./">List<span class="sr-only">(list)</span></a></li>
      <% } %>
    </ul>
  </div>
</nav>
