<!DOCTYPE html>
<html>
  <% include head %>
  <body>
    <% include nav %>
    <div class="container">
      <form id="register-form">

        <div id="gender" class="form-group">
          <label class="control-label" for="Gender">Gender</label>
          <div class="radio-inline">
            <input type="radio" value="male" name="gender">
            <label for="man">Male</label>
          </div>
          <div class="radio-inline">
            <input type="radio" value="female" name="gender">
            <label for="woman">Female</label>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="age">Age</label>
          <input type="text" id="age" class="form-control">
        </div>

        <div class="form-group">
          <div class="well">
            <div class="text-center">
              <div class="slider-text">Depressed</div>
              <input id="feeling-slider" data-slider-id='feeling-slider' type="text" data-slider-min="0" data-slider-max="5" data-slider-step="0.1" data-slider-value="2.5" />
              <div class="slider-text">Happy</div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="well">
            <div class="text-center">
              <div class="slider-text">Hungry</div>
              <input id="hunger-slider" data-slider-id='hunger-slider' type="text" data-slider-min="0" data-slider-max="5" data-slider-step="0.1" data-slider-value="2.5" />
              <div class="slider-text">Full</div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="well">
            <div class="text-center">
              <div class="slider-text">Sleepy</div>
              <input id="sleepiness-slider" data-slider-id='sleepiness-slider' type="text" data-slider-min="0" data-slider-max="5" data-slider-step="0.1" data-slider-value="2.5" />
              <div class="slider-text">Awake</div>
            </div>
          </div>
        </div>

        <div id="submit-result">
          <div class="alert alert-danger" role="alert" style="display:none">Fail</div>
          <div class="alert alert-success" role="alert" style="display:none">Success</div>
        </div>
        <div class="btn-group">
          <button id="submit-button" class="btn btn-primary">Submit </button>
        </div>
      </form>
    </div>
    <% include common_js %>
    <script type="text/javascript" src="./javascripts/register.js"></script>
    <script type="text/javascript" src="./javascripts/bootstrap-slider.js"></script>
  </body>
</html>
